<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CRGaming</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,900&display=swap" rel="stylesheet">
</head>
<body class="text-dark">
    <nav class="navbar navbar-expand-sm navbar-dark text-dark font-weight-bolder" style=" background-color: #0F3460">
        <div class="container">
            <a class="navbar-brand text-white" href="@Url.Action("Index","News")">CRGaming</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #FF1D42">
                <i class="text-white fa fa-gamepad"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    @if (Session["Name"] is null)
                    {
                        <li class="nav-item active m-1">
                            <a style="border-color: #FF1D42" class="text-white nav-link text-center btn-block btn" href="@Url.Action("Create","Register")">Registrarme <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active m-1">
                            <a style="background-color: #FF1D42" class="text-white nav-link text-center btn-block  btn" href="@Url.Action("Index","Login")">Acceder <span class="sr-only">(current)</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item active m-1">
                            <a style="background-color: #FF1D42" class="text-white nav-link text-center btn-block  btn" href="@Url.Action("Logout","Login")">Cerrar Sesión <span class="sr-only">(current)</span></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="" style="margin-top:1rem">
        @RenderBody()
        <hr />
        <footer class="text-center ">
            <p>&copy; Copyright @DateTime.Now.Year - CRGaming</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
