<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CRGaming</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background: #1A1A2E" class="text-white">

    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #0F3460">
        <div class="container">
            <a href="#" class="navbar-brand text-white">CRGaming</a>
            <button type="button" class="navbar-toggler bg-light mb-2 mr-2" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <div class="navbar-nav">

                </div>

                <div class="navbar-nav ">
                    <a href="#" class="nav-item nav-link text-center btn btn-block text-white" style="background-color: #FF1D42">Acceso</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="card border-0" style="margin-top: 4rem;
        background-color: #16213E">
        <div class="card-body text-center text-white h1">
            Noticias / Actualizaciones / Conferencias y mas
        </div>
    </div>

    <div class="container body-content" style="margin-top:1rem">
        @RenderBody()
        <hr />
        <footer class="text-center border">
            <p>&copy; Copyright @DateTime.Now.Year - CRGaming</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
