
@{
    ViewBag.Title = "Index";
}

<h1>Administraci&oacute;n</h1>

<h2>Panel de control</h2>

<h3>Crear publicaci&oacute;n</h3>
@Html.ActionLink("Crear", "Create", "News")

<h3>Editar publicaci&oacute;n</h3>
@Html.ActionLink("Editar", "News", "Edit")

<h3>Borrar publicaci&oacute;n</h3>
@Html.ActionLink("Borrar", "News", "Edit")

<h2>General</h2>

<h3>Mis publicaci&oacute;nes favoritas</h3>
@Html.ActionLink("Ver", "News", "Edit")

<h3>Mis comentarios</h3>
@Html.ActionLink("Ver", "News", "Edit")