@model Frontend.Models.NewsViewModel

@{
    ViewBag.Title = "Details";
}

    <div class="text-center " style="background-color:#FF1D44;">


        <img src="@Html.DisplayFor(model => model.BannerImage)" alt="" 
             class="text-center shadow-lg " style="width:25rem;height:50%;"/>

    </div>


    <div class="container">

        <div class="mt-4">
            <div class="row container text-white text-center">
                <!--Ocupo los tags en esta parte-->

            </div>

        </div>

        <div class="mt-4">
            <h1>@Html.DisplayFor(model => model.Title)</h1>
        </div>

        <div class="mt-4 text-justify">
            @Html.DisplayFor(model => model.Body)
        </div>


        @if (Session["UserId"].Equals(Model.UserID))
        {
            <p class="btn btn-block text-dark">
                @Html.ActionLink("Regresar al Menu Principal", "Index", new { @class = "" })
            </p>
            <!--Hacer una validacion para que solo el creador de la noticia pueda editar su publicacion-->
            <p class="btn btn-block mt-4" style="background: #FF1D42">
                <a class="text-white" href="@Url.Action("Edit", new { id = Model.ID })">Editar Noticia</a>


            </p>

            <p class="btn btn-block mt-4" style="background: #FF1D42">
                @Html.ActionLink("Eliminar Publicacion", "Delete", new { id = Model.ID }, new { @class = "text-white" })
            </p>
        }
        else
        {
            <p class="btn btn-block text-dark">
                @Html.ActionLink("Regresar al Menu Principal", "Index", new { @class = "" })
            </p>
        }





    </div>

