@model IEnumerable<Backend.Entities.News>

@{
    ViewBag.Title = "Index";
}

<h2>Noticias destacadas</h2>

<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        @{int i = 0;}
        @foreach (var item in Model)
        {
            {
                i++;
                var active = i == 1 ? "active" : "";
                <div class="carousel-item @active">
                    <img src="@Url.Content(item.BannerImage)" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="bg-dark mt-3 mb-3">@Html.DisplayFor(modelItem => item.Title)</h2>
                        <button type="button" class="btn btn-block btn-primary">Ver noticia</button>
                    </div>
                </div>

            }
        }
    </div>

    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br />

<h2>PC Gaming</h2>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="blog-thumbnail col-md-4" style="max-width: 250px;">
            <img src="@Url.Content(item.BannerImage)" class="img-thumbnail" />
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
            <p>
                Te contamos cómo solucionar los problemas de servidores de Black Ops Cold War y cómo saber cuál es el estado de conexión en CoD Black Ops Cold War de Activision y Treyarch.
            </p>
            <span>@Html.DisplayFor(modelItem => item.UserID)</span>
            <span>PC, Actualizaciones, Bugs</span>
            <span>@Html.DisplayFor(modelItem => item.PublishDate)</span>
        </div>
    }
</div>