@model Frontend.Models.UnionViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container">

    @if (Session["Name"] != null)
    {
        <div class="card card-img-top  bg-transparent border-0">
            <img class="img-fluid mt-2" style="" src="~/Media/Images/Grupo 100.png" alt="Alternate Text" />
            <div class="container card-body text-left h1"
                 style="">
                ¡Hola @Session["Name"] ! ¿ Ya viste el nuevo contenido ?
            </div>
        </div>

    }
    else
    {
        <div class="p-0 mt-3 bg-transparent">

        </div>
        <div class="container card-body text-center text-white text-center">
            <img src="~/Media/Images/Grupo 100.png" alt="Alternate Text" class="img-fluid" />
        </div>
    }


    <div class="row border rounded-top">
        <div class="col-md-6 border-right align-items-center">

            <div id="" class="border-0 card carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="">
                        <h4 class="mb-3 mt-3">Ultimas Actualizaciones</h4>

                        <div class="carousel-inner shadow">
                            @{int i = 0;}
                            @foreach (var iterador in Model.News)
                            {
                                {
                                    i++;
                                    var active = i == 1 ? "active" : "";
                                    <div class="carousel-item @active">
                                        <img src="@Url.Content(iterador.BannerImage)" class=" d-block w-100 rounded-lg shadow" alt="..." style="width:35rem;height:20rem">
                                        <div class=" p-0 m-0 rounded-bottom" style="background-color: #FF1D42">
                                            <div class="card-footer text-white">
                                                <div class="row" style="">
                                                    <h4 class="col-12 text-truncate mt-3 mb-3 w-100">@Html.DisplayFor(modelItem => iterador.Title)</h4>

                                                </div>
                                            </div>

                                        </div>
                                        <a href="@Url.Action("Details", new { id=iterador.ID })" class=" stretched-link"></a>
                                    </div>

                                }

                            }

                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-6">

            <h4 class="m-3" style="">¿Qué hay de nuevo para hoy?</h4>
            <p class="p-1 col-7 ml-3 rounded-pill bg-primary text-sm-center text-white">Fecha : @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</p>
            <div class="">
                @foreach (var iterado in Model.News)
                {

                    if (iterado.PublishDate != DateTime.Now.Date)
                    {

                    }
                    else
                    {
                <div class="row text-white rounded-lg m-2 shadow" style=" background-color: #0F3460">

                    <div class="col-4 justify-content-center bg-light">
                        <img src="@Url.Content(iterado.BannerImage)" class="img-fluid rounded mx-auto d-block"
                             style="height:7rem" />
                        <a href="@Url.Action("Details", new { id=iterado.ID })" class=" stretched-link"></a>
                    </div>

                    <div class="font-weight-bold h5 col-8 text-break">
                        @Html.DisplayFor(modelItem => iterado.Title)

                        <div class="font-weight-light text-truncate">
                            @Html.DisplayFor(modelItem => iterado.Body)
                        </div>
                        <a href="@Url.Action("Details", new { id=iterado.ID })" class=" stretched-link"></a>
                    </div>



                </div>
                    }

                }

            </div>
        </div>
    </div>

</div>




@*<div class="container">
    <h2>PC Gaming</h2>
    <div class="row">
        @foreach (var iterado in Model.News)
        {
            <div class="blog-thumbnail col-md-4" style="max-width: 250px;">
                <img src="@Url.Content(iterado.BannerImage)" class="img-thumbnail" />
                <h3>@Html.DisplayFor(modelItem => iterado.Title)</h3>
                <p>

                </p>
                <span>@Html.DisplayFor(modelItem => iterado.UserID)</span>
                <span>PC, Actualizaciones, Bugs</span>
                <span>@Html.DisplayFor(modelItem => iterado.PublishDate)</span>
            </div>
        }
        @foreach (var iterado in Model.comments)
        {
            <div class="blog-thumbnail col-md-4" style="max-width: 250px;">

                <span>@Html.DisplayFor(modelItem => iterado.Content)</span>
            </div>
        }
    </div>

</div>*@

<br />

<div class=" jumbotron text-dark justify-content-center text-center" style="background-color: #FF1D42">
    <div class="row">
        <div class="col-md-6 text-white container">
            <h1 class="display-4">¿Todavia no te has suscrito?</h1>
            <p class="lead">No esperes mas, con tu acceso podras comentar y guardar tus publicaciones favoritas</p>
            <a class="btn btn-dark btn-block" href="@Url.Action("Index", "Index")" role="button">Crear mi cuenta</a>
        </div>
        <div class="col-md-6 container">
            <img src="~/Media/Images/Grupo 40.png" alt="Alternate Text" class="card-img" style="width:20rem"/>
        </div>
    </div>

</div>
<h2 class="container">Proximos eventos</h2>

<div class="container card  bg-transparent" style="">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://pbs.twimg.com/media/EX-Tgm9XgAAjV6S.png" class="text-center card-img" alt="..." style="width:80%">
        </div>
        <div class="col-md-8">
            <div class="border-left card-body">
                <h3 class="card-title">Conferencia E3 2021</h3>
                <p class="card-text">La Electronic Entertainment Expo, más conocida por su abreviatura E3, es la convención de videojuegos más importante de la industria, en la que diversas compañías de videojuegos hablan de sus próximos lanzamientos, y algunas veces de su software y hardware.</p>
                <p class="text-white btn rounded-pill bg-dark">Fecha del evento: 27/06/2021</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>





