@model Frontend.Models.UserViewModel

@{
    ViewBag.Title = "Create";
}
<div class="container">
    <h1 class="card-title text-center">Crear cuenta</h1>
    @using (Html.BeginForm("Create", "Register", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12 social-media-buttons">
                <button class="btn btn-primary">Registrarse</button>
                <button class="btn btn-facebook" disabled>
                    <i class="fa fa-facebook-official"></i>
                    Entrar con Facebook
                </button>
                <button class="btn btn-twitter" disabled>
                    <i class="fa fa-twitter"></i>
                    Entrar con Twitter
                </button>
            </div>
        </div>
    }
</div>