@model Frontend.Models.UserViewModel

@{
    ViewBag.Title = "Panel de administración";
}

@if (Session["Name"]==null){
    Response.Redirect("http://localhost:62971");
}else
{

}


    <div class="container">

        <div class="row">
            <div class="col-12 text-center mt-4">
                <div class="">
                    <img src="@Session["Image"]" alt="" class="shadow img-fluid btn bg-primary rounded-circle p-5" 
                         style="width:10rem"/>
                </div>
            </div>
            <div class="col-12 text-center border-top m-2">
                <h2 class="mt-2">@Session["Name"] @Session["LastName"]</h2>
            </div>
        </div>

        <div class="container card p-2">

            <h4>Correo Electronico</h4>

            <p>@Session["Email"]</p>


            <h4>Crear Publicacion</h4>
            <a class="text-white nav-link text-center btn btn-dark" href="@Url.Action("Create","News")"> Crear <span class="sr-only">(current)</span></a>
        </div>




    </div>

